.git
.gitignore

k8s/

.env
.env.*
!.env.example

Dockerfile
docker-compose*.yml
.dockerignore

.idea
.vscode
*.code-workspace

*.exe
*.test
*.out

coverage.out
coverage.html

*.md
README*

.DS_Store
Thumbs.db
